:root {
    --white-color: #fff;
    --white-smoke-color: #F9F9F9;
    --black-color: #000;
    --red-color:   #CF3C3F;
    --light-grey-color: #ECECEC;
    --grey-color: #C4C4C4;
    --medium-grey-color: #a7a7a7;
    --deep-grey-color: #343434;
    --blue-color: #1B77F3;
    --dark-blue-color: #1B1F27;
}

body {
    background-color: var(--dark-blue-color);
}